body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1% solid #008cff;
    text-align: left;
    padding: 8%;
}

tr:nth-child(even) {
    background-color: #0066ff;
}

@media only screen and (max-width: 600%) {
    table, th, td {
        width: 100%;
        display: block;
    }
}
.table-wrapper {
    overflow-x: auto;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 8%;
    border: 1% solid #008cff;
}

th {
    background-color: #0066ff;
    text-align: left;
}